@model IEnumerable<Wool.Web.ViewModels.CategoryViewModel>

<h2>Category</h2>
<div class="panel-group category-products" id="accordian">
    <!--category-productsr-->
    @foreach (var category in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="/Product/ListByCategory/@category.Id">@category.Name</a></h4>
            </div>
        </div>
    }


    
</div><!--/category-products-->
