@model IEnumerable<Wool.Web.ViewModels.SupplierViewModel>
<div class="brands_products">
    <!--brands_products-->
    <h2>Brands</h2>
    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var supplier in Model)
            {
                <li><a href="/Product/ListBySupplier/@supplier.Id"> <span class="pull-right">(50)</span>@supplier.Name</a></li>
            }
        </ul>
    </div>

    
</div><!--/brands_products-->
