@model IEnumerable<ProductViewModel>
@{
    ViewBag.Title = "Index";
}

@foreach (var product in Model)
{
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <a href="/Product/Detail/@product.ID">
                        <img src="~/images/products/@product.Image" alt="" />
                    </a>
                    <h2>@Html.FormatValue(@product.UnitPrice, "{0:c}")</h2>
                    <p>@product.Name</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
            </div>
        </div>
    </div>
}
